---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <h1 class="text-white font-display uppercase text-3xl lg:text-4xl">
          Hi, I’m Noe. This space was born from the need to express and the refusal to conform.
<p>I create from instinct and freedom, not templates. My work moves between clarity and chaos, rebellion and beauty. It’s self-made, emotionally charged, and unapologetically human.<p>
 <p> No polish. No pretending. Just presence, curiosity, and the urge to create.<p>
        </h1>
      </div>
      <Banner />
      <Testimonials />
    </div>
  </div>
</section>
