<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-4xl text-xl">
        My design philosophy is all about innovation and flexibility, 
        ensuring each brand's uniqueness shines through in a genuine and dynamic way. 
        I believe in pushing creative boundaries while keeping the heart of the brand intact.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        By blending design, photography, and strategic creativity, I create visuals that go beyond aesthetics—they tell a story. 
        My goal is to help businesses express their values and personality through engaging visual experiences 
        that connect deeply with their audience. Let's craft something memorable and true to your brand's essence.
      </p>
    </div>
  </div>
</section>