<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl text-xl">
    I create visual identities that move with purpose.
Built with care, not convention. <br/> Clear in form, true in spirit.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        My practice blends design with collage, painting, and artistic photography.
I use mixed media to create work that’s tactile, visual, and concept-driven. <br/>
Always tailored. Always human.
      </p>
    </div>
  </div>
</section>